/*
 * Copyright (c) 2025-2026, Smoke Team & Dargons10.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * Tegra124 Mocha (MiPad 1st Gen) Camera Device Tree Bindings
 * For V4L2 subdev framework using tegra_vi + imx179 + ov5693
 *
 * Hardware Configuration:
 * - Rear: IMX179 (8MP, RGGB) on CSI-A (4-lane), MCLK1, CAM I2C addr 0x10
 * - Front: OV5693 (5MP, BGGR) on CSI-E (1-lane), MCLK2, CAM I2C addr 0x36
 * - Focuser: AD5823 (CAM I2C addr 0x0c) - paired with IMX179
 *
 * I2C bus: i2c@7000c500 = adapter 2 (CAM)
 *
 * GPIO map:
 *   CAM_RSTN    = PBB3 = 219 - IMX179 reset
 *   CAM1_PWDN   = PBB5 = 221 - IMX179 power down
 *   CAM2_PWDN   = PBB6 = 222 - OV5693 power down
 *   CAM_AF_PWDN = PBB7 = 223 - AD5823 focuser enable
 *   CAM2_RSTN   = PCC1 = 225 - OV5693 reset
 *
 * Regulator map (from mocha PMIC e1736):
 *   LDO4 "avdd-cam"    2.7V -> vana(IMX179), avdd(OV5693)
 *   LDO2 "vdd-lcd-io"  1.8V -> vdig(IMX179), dvdd(OV5693)
 *   LDO6 "vdd-cam-af"  1.8V -> vif(IMX179), dovdd(OV5693), vdd_i2c(AD5823)
 *   LDO7 "avdd-cam-af" 2.7V -> imx179_reg1, vdd(AD5823)
 *   Fixed vdd_cam_1v8   1.8V -> Palmas GPIO1, SMPS8-derived
 *   Fixed vdd_cam_1v2   1.2V -> Palmas GPIO2, SMPS8-derived
 */

#include <dt-bindings/media/camera.h>
#include <dt-bindings/gpio/tegra-gpio.h>

/ {
    /*
     * Video Input (VI) - V4L2 capture device
     */
    host1x {
        vi@54080000 {
            compatible = "nvidia,mocha-vi";
            reg = <0x54080000 0x00040000>;
            interrupts = <0 69 0x04>;
            nvidia,memory-clients = <18>;
            clocks = <&tegra_car 20>, <&tegra_car 52>, <&tegra_car 92>, <&tegra_car 144>, <&tegra_car 146>;
            clock-names = "vi", "csi", "csus", "cilab", "cile";
            status = "okay";
            num-channels = <2>;

            ports {
                #address-cells = <1>;
                #size-cells = <0>;

                /* Channel 0: IMX179 rear via CSI-A */
                port@0 {
                    reg = <0>;
                    mocha_vi_in0: endpoint {
                        csi-port = <0>;
                        bus-width = <4>;
                        remote-endpoint = <&mocha_csi_a_out0>;
                    };
                };

                /* Channel 1: OV5693 front via CSI-E */
                port@1 {
                    reg = <1>;
                    mocha_vi_in1: endpoint {
                        csi-port = <1>;
                        bus-width = <1>;
                        remote-endpoint = <&mocha_csi_e_out0>;
                    };
                };
            };
        };

        /* CSI receiver with media controller endpoints */
        csi@54080000 {
            compatible = "nvidia,tegra124-csi";
            reg = <0x54080000 0x20000>;
            status = "okay";
            num-channels = <2>;

            ports {
                #address-cells = <1>;
                #size-cells = <0>;

                /* CSI-A input from IMX179 */
                port@0 {
                    reg = <0>;
                    mocha_csi_a_in0: endpoint {
                        remote-endpoint = <&mocha_imx179_out0>;
                        bus-width = <4>;
                        csi-port = <0>;
                    };
                };

                /* CSI-A output to VI channel 0 */
                port@1 {
                    reg = <1>;
                    mocha_csi_a_out0: endpoint {
                        remote-endpoint = <&mocha_vi_in0>;
                        csi-port = <0>;
                    };
                };

                /* CSI-E input from OV5693 */
                port@4 {
                    reg = <4>;
                    mocha_csi_e_in0: endpoint {
                        remote-endpoint = <&mocha_ov5693_out0>;
                        bus-width = <1>;
                        csi-port = <4>;
                    };
                };

                /* CSI-E output to VI channel 1 */
                port@5 {
                    reg = <5>;
                    mocha_csi_e_out0: endpoint {
                        remote-endpoint = <&mocha_vi_in1>;
                        csi-port = <4>;
                    };
                };
            };
        };

        /* ISP-A: paired with IMX179 rear camera */
        isp@54600000 {
            compatible = "nvidia,tegra124-isp";
            status = "okay";
            reg = <0x54600000 0x00040000>;
            interrupts = <0 71 0x04>;
            nvidia,memory-clients = <8 29>;
            ports {
                #address-cells = <1>;
                #size-cells = <0>;
                port@0 {
                    reg = <0>;
                    mocha_isp_a_out0: endpoint {
                        remote-endpoint = <&mocha_vi_in0>;
                    };
                };
            };
        };

        /* ISP-B: paired with OV5693 front camera */
        isp@54680000 {
            compatible = "nvidia,tegra124-isp";
            status = "okay";
            reg = <0x54680000 0x00040000>;
            interrupts = <0 72 0x04>;
            nvidia,memory-clients = <8 29>;
            ports {
                #address-cells = <1>;
                #size-cells = <0>;
                port@0 {
                    reg = <0>;
                    mocha_isp_b_out0: endpoint {
                        remote-endpoint = <&mocha_vi_in1>;
                    };
                };
            };
        };
    };

    /*
     * Camera sensors on CAM I2C (i2c@7000c500, adapter 2).
     */
    i2c@7000c500 {
        status = "okay";
        clock-frequency = <400000>;

        /* Rear camera: IMX179 8MP RGGB CSI-A 4-lane */
        mocha_imx179: imx179@10 {
            compatible = "sony,imx179";
            reg = <0x10>;
            status = "okay";

            /* Physical dimensions */
            physical_w = "3.674";
            physical_h = "2.738";
            sensor_model = "imx179";

            /* Clock */
            clocks = <&tegra_car 96>;
            clock-names = "mclk";
            assigned-clocks = <&tegra_car 96>;
            assigned-clock-rates = <24000000>;

            /* GPIOs */
            reset-gpios = <&gpio TEGRA_GPIO(BB, 3) GPIO_ACTIVE_HIGH>;
            af-gpios = <&gpio TEGRA_GPIO(BB, 7) GPIO_ACTIVE_HIGH>;

            /* Regulators */
            vana-supply = <&palmas_ldo4>;
            vdig-supply = <&palmas_ldo2>;
            vif-supply = <&palmas_ldo6>;
            /* PBB5 (pwdn-gpios in earlier DT) is NOT connected in hardware */

            /* CSI configuration */
            csi-port = <0>;
            num-lanes = <4>;

            ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                    reg = <0>;
                    mocha_imx179_out0: endpoint {
                        csi-port = <0>;
                        bus-width = <4>;
                        remote-endpoint = <&mocha_csi_a_in0>;
                    };
                };
            };
        };

        /* Focuser: AD5823, paired with IMX179 */
        ad5823@0c {
            compatible = "adi,ad5823";
            reg = <0x0c>;
            status = "okay";

            enable-gpios = <&gpio TEGRA_GPIO(BB, 7) GPIO_ACTIVE_HIGH>;
            vdd-supply = <&palmas_ldo7>;
            vdd-i2c-supply = <&palmas_ldo6>;
        };

        /* Front camera: OV5693 5MP BGGR CSI-E 1-lane */
        mocha_ov5693: ov5693@36 {
            compatible = "ovt,ov5693";
            reg = <0x36>;
            status = "okay";

            /* Physical dimensions */
            physical_w = "3.674";
            physical_h = "2.738";
            sensor_model = "ov5693";

            /* Clock */
            clocks = <&tegra_car 97>;
            clock-names = "mclk";
            assigned-clocks = <&tegra_car 97>;
            assigned-clock-rates = <24000000>;

            /* GPIOs */
            reset-gpios = <&gpio TEGRA_GPIO(CC, 1) GPIO_ACTIVE_HIGH>;
            pwdn-gpios = <&gpio TEGRA_GPIO(BB, 6) GPIO_ACTIVE_HIGH>;

            /* Regulators */
            avdd-supply = <&palmas_ldo4>;
            dovdd-supply = <&palmas_ldo6>;
            dvdd-supply = <&palmas_ldo2>;

            /* CSI configuration */
            csi-port = <1>;
            num-lanes = <1>;

            ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                    reg = <0>;
                    mocha_ov5693_out0: endpoint {
                        csi-port = <1>;
                        bus-width = <1>;
                        remote-endpoint = <&mocha_csi_e_in0>;
                    };
                };
            };
        };
    };

    /*
     * tegra-camera-platform: bandwidth management (legacy, kept for compatibility)
     */
    tegra-camera-platform {
        compatible = "nvidia,tegra-camera-platform";

        modules {
            module0 {
                badge = "mocha_rear_P8V27C";
                position = "rear";
                orientation = "1";
                drivernode0 {
                    pcl_id = "v4l2_sensor";
                    proc-device-tree = "/proc/device-tree/i2c@7000c500/imx179@10";
                };
                drivernode1 {
                    pcl_id = "v4l2_focuser";
                    proc-device-tree = "/proc/device-tree/i2c@7000c500/ad5823@0c";
                };
            };

            module1 {
                badge = "mocha_front_P5V27C";
                position = "front";
                orientation = "1";
                drivernode0 {
                    pcl_id = "v4l2_sensor";
                    proc-device-tree = "/proc/device-tree/i2c@7000c500/ov5693@36";
                };
            };
        };
    };
};
